<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized in order to explain in a general way some of the most used and popular tools that data scientists use.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
* List Popular Languages for Data science
* List popular libraries used by Data Scientists
* Open Source Enviroments to develop in Data Science
* Introduction to some arithmetic evaluations with Python

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly  used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scipy
4. Matplotlib
5. NLTK

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Anaconda|
|JupiterLab|
|VS Code|
|Jupyter Notebooks|
|RStudio|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

* 4+4
* 7*8
* 5-1
* (7*8)+3-1

Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Adan Ramirez